# Environment variables
.env
.env.*
!.env.example

# Node modules
**/node_modules

# Output folders
/build
/.next
/dist
/out

# Hardhat
packages/hardhat/artifacts
packages/hardhat/cache
packages/hardhat/deployments
packages/hardhat/*.txt
packages/hardhat-ts/cache
artifacts
cache

# Subgraph
packages/subgraph/subgraph.yaml
packages/subgraph/generated
packages/subgraph/abis/*
packages/subgraph/config/config.json

# Contract data (optional)
packages/react-app/src/contracts/*
!packages/react-app/src/contracts/external_contracts.js
!packages/react-app/src/contracts/contracts.js

# Misc secrets
.secret
tenderly.yaml
**/aws.json

# Dependency management
.pnp.js
.pnp
.yarn/cache
.yarn/install-state.gz
.yarn/build-state.yml
yarn.lock
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs & OS
.DS_Store
.idea
*.tsbuildinfo
*.stackdump

# Test & Coverage
coverage

# Netlify
.netlify
